Source: php7.0-pdlib
Section: php
Priority: optional
Maintainer: Matias De lellis <mati86dl@gmail.com>
Uploaders: Matias De lelllis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 9), pkg-config, php-dev, libdlib-dev, libpng-dev
Standards-Version: 3.9.7
Vcs-Git: https://github.com/goodspb/pdlib
Vcs-Browser: https://github.com/goodspb/pdlib
Homepage: https://github.com/goodspb/pdlib

Package: php7.0-pdlib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: Detect faces with PHP
 This extension provides a PHP implementation of the Pdlib
 .
 The extension offers two new functions returning either an associative array
 of the faces coordinates found on the given image, or only the number of faces
 found on the given image.
